In [1]:
#Importamos los modulos necesarios
import pandas as pd #Para el procesado de datos, archivos csv en este caso
import numpy as np #algebra
import matplotlib.pyplot as plt


archivo_csv = "jewelry.csv"

df = pd.read_csv(archivo_csv)

#Realizamos el analisis exploratorio

#Mostramos los nombres de las columnas del dataframne, primero abilitamos la opcion para mostar todas las columnas

print("Columnas del DataFrame:")
print(list(df.columns))

print()

print("Otra manera de mostar las columnas")
print()
print("Columnas del DataFrame:")
for i, columna in enumerate(df.columns, 1):
    print(f"{i}. {columna}")


#Mostramos las primeras filas para ver un poco la estructura del documento.

print("Primeras filas del df")
print(df.head())


#Mostramos la informacion general del df
#\n al principio del print para aplicar un espacio en blanco entre las muestras del df

print("\nInformación general del DataFrame:")
print(df.info())


#Estadisticas descriptivas ( describen de manera global el conjunto de datos, media, mediana, percentiles etc)
print("\nEstadisticas descriptivas")
print(df.describe())

print(df.columns)


#He visto algo que no esta muy bien en estos datos, vamos a arreglarlo.
#ETL
#Fase de procesamiento de datos.
#Los nombres de las columnas no son nada intuitivos, los vamos a cambiar.
print("Renombramos las columnas por motivos de legibilidad")
# Renombrar y reordenar las columnas
df = df.rename(columns={
    '2018-12-01 11:40:29 UTC': 'Order_Datetime',
    '1924719191579951782': 'Order_ID',
    '1842195256808833386': 'Product_ID',
    '1': 'Quantity',
    '1806829201890738522': 'Category_ID',
    'jewelry.earring': 'Category_Alias',
    '0': 'Brand_ID',
    '561.51': 'Price_USD',
    '1515915625207851155': 'User_ID',
    'Unnamed: 9': 'Product_Gender',
    'red': 'Main_Color',
    'gold': 'Main_Metal',
    'diamond': 'Main_Gem'
})

# Reordenar las columnas
column_order = ['Order_Datetime', 'Order_ID', 'Product_ID', 'Quantity', 'Category_ID', 'Category_Alias', 'Brand_ID', 'Price_USD', 'User_ID', 'Product_Gender', 'Main_Color', 'Main_Metal', 'Main_Gem']
df = df[column_order]

print("\nComprobamos los cambios en las columnas")
print(df.columns)
#La columna quantity no es relevante asi que la vamos a eliminar
df = df.drop('Quantity', axis=1)
#Ya se puede leer mas facil este dataset, sigamos.


print(df.info)
print()
print(df.describe())


print("\nCon estas simple obersvacion vemos como el precio medio de los productos"
      "\nes de 258,77$ y el minimo es de 0.99 $")

print("\nBuscamos valores nulos:")
print()

print(df.isna().sum())

print("\nObservo que hay un numero de nulos no muy relevante en las columnas Category_Id y Category_alias.")
print("\nProcedemos a eliminarlos, ya que no afectaran a la estadistica descriptiva.")
#A nivel practica vamos a eliminarlos, ya que no afectaran a la estadisticas globales pero si nos pueden dar problemas
#Con los modelos ML que haremos a continuación

df = df.dropna(subset=['Category_ID', 'Category_Alias', 'Brand_ID', 'Main_Metal'])


print("\nComprobamos")

print(df.isna().sum())

#Borramos filas en las que el USDPrice and UserID sea nulo
new_df = df[df['Price_USD'].notna() & df['User_ID'].notna()]

print(new_df.info())

print(new_df.head())

Columnas del DataFrame:
['2018-12-01 11:40:29 UTC', '1924719191579951782', '1842195256808833386', '1', '1806829201890738522', 'jewelry.earring', '0', '561.51', '1515915625207851155', 'Unnamed: 9', 'red', 'gold', 'diamond']

Otra manera de mostar las columnas

Columnas del DataFrame:
1. 2018-12-01 11:40:29 UTC
2. 1924719191579951782
3. 1842195256808833386
4. 1
5. 1806829201890738522
6. jewelry.earring
7. 0
8. 561.51
9. 1515915625207851155
10. Unnamed: 9
11. red
12. gold
13. diamond
Primeras filas del df
   2018-12-01 11:40:29 UTC  1924719191579951782  1842195256808833386  1  \
0  2018-12-01 17:38:31 UTC  1924899396621697920  1806829193678291446  1
1  2018-12-02 13:53:42 UTC  1925511016616034733  1842214461889315556  1
2  2018-12-02 17:44:02 UTC  1925626951238681511  1835566849434059453  1
3  2018-12-02 21:30:19 UTC  1925740842841014667  1873936840742928865  1
4  2018-12-02 22:09:34 UTC  1925760595336888995  1835566854827934449  1

   1806829201890738522   jewelry.earring    0  561.51  1515915625207851155  \
0         1.806829e+18               NaN  NaN  212.14         1.515916e+18
1         1.806829e+18   jewelry.pendant  1.0   54.66         1.515916e+18
2         1.806829e+18   jewelry.pendant  0.0   88.90         1.515916e+18
3         1.806829e+18  jewelry.necklace  0.0  417.67         1.515916e+18
4         1.806829e+18   jewelry.earring  1.0  102.27         1.515916e+18

  Unnamed: 9     red  gold   diamond
0        NaN  yellow  gold       NaN
1          f   white  gold  sapphire
2          f     red  gold   diamond
3        NaN     red  gold  amethyst
4        NaN     red  gold       NaN

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   2018-12-01 11:40:29 UTC  95910 non-null  object
 1   1924719191579951782      95910 non-null  int64
 2   1842195256808833386      95910 non-null  int64
 3   1                        95910 non-null  int64
 4   1806829201890738522      90558 non-null  float64
 5   jewelry.earring          85977 non-null  object
 6   0                        91125 non-null  float64
 7   561.51                   90558 non-null  float64
 8   1515915625207851155      90558 non-null  float64
 9   Unnamed: 9               47743 non-null  object
 10  red                      88250 non-null  object
 11  gold                     90448 non-null  object
 12  diamond                  61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB
None

Estadisticas descriptivas
       1924719191579951782  1842195256808833386        1  1806829201890738522  \
count         9.591000e+04         9.591000e+04  95910.0         9.055800e+04
mean          2.485191e+18         1.815970e+18      1.0         1.805947e+18
std           1.934750e+17         2.136814e+17      0.0         2.083954e+16
min           1.924899e+18         1.313551e+18      1.0         1.313678e+18
25%           2.379732e+18         1.515966e+18      1.0         1.806829e+18
50%           2.524282e+18         1.956664e+18      1.0         1.806829e+18
75%           2.644347e+18         1.956664e+18      1.0         1.806829e+18
max           2.719022e+18         2.541962e+18      1.0         1.806829e+18

                  0        561.51  1515915625207851155
count  9.112500e+04  90558.000000         9.055800e+04
mean   8.891036e+16    362.213017         1.512644e+18
std    3.559651e+17    444.157665         2.374776e+16
min    0.000000e+00      0.990000         1.313554e+18
25%    0.000000e+00    145.620000         1.515916e+18
50%    1.000000e+00    258.770000         1.515916e+18
75%    1.000000e+00    431.370000         1.515916e+18
max    1.550613e+18  34448.600000         1.554297e+18
Index(['2018-12-01 11:40:29 UTC', '1924719191579951782', '1842195256808833386',
       '1', '1806829201890738522', 'jewelry.earring', '0', '561.51',
       '1515915625207851155', 'Unnamed: 9', 'red', 'gold', 'diamond'],
      dtype='object')
Renombramos las columnas por motivos de legibilidad

Comprobamos los cambios en las columnas
Index(['Order_Datetime', 'Order_ID', 'Product_ID', 'Quantity', 'Category_ID',
       'Category_Alias', 'Brand_ID', 'Price_USD', 'User_ID', 'Product_Gender',
       'Main_Color', 'Main_Metal', 'Main_Gem'],
      dtype='object')
<bound method DataFrame.info of                 Order_Datetime             Order_ID           Product_ID  \
0      2018-12-01 17:38:31 UTC  1924899396621697920  1806829193678291446
1      2018-12-02 13:53:42 UTC  1925511016616034733  1842214461889315556
2      2018-12-02 17:44:02 UTC  1925626951238681511  1835566849434059453
3      2018-12-02 21:30:19 UTC  1925740842841014667  1873936840742928865
4      2018-12-02 22:09:34 UTC  1925760595336888995  1835566854827934449
...                        ...                  ...                  ...
95905  2021-12-01 09:47:37 UTC  2719016587653808559  1515966223597820877
95906  2021-12-01 09:50:37 UTC  2719018098886705639  1956663830729720074
95907  2021-12-01 09:52:06 UTC  2719018846999544322  1956663848219968336
95908  2021-12-01 09:55:35 UTC  2719020596963836492  1835566854106513435
95909  2021-12-01 09:59:07 UTC  2719022379232658075  1956663846156370429

        Category_ID    Category_Alias      Brand_ID  Price_USD       User_ID  \
0      1.806829e+18               NaN           NaN     212.14  1.515916e+18
1      1.806829e+18   jewelry.pendant  1.000000e+00      54.66  1.515916e+18
2      1.806829e+18   jewelry.pendant  0.000000e+00      88.90  1.515916e+18
3      1.806829e+18  jewelry.necklace  0.000000e+00     417.67  1.515916e+18
4      1.806829e+18   jewelry.earring  1.000000e+00     102.27  1.515916e+18
...             ...               ...           ...        ...           ...
95905           NaN              0.00  1.515916e+18        NaN           NaN
95906  1.806829e+18               NaN  0.000000e+00     229.99  1.515916e+18
95907  1.806829e+18   jewelry.earring  1.000000e+00     630.00  1.515916e+18
95908  1.806829e+18   jewelry.earring  0.000000e+00      83.42  1.515916e+18
95909  1.806829e+18   jewelry.pendant  1.000000e+00      97.12  1.515916e+18

      Product_Gender Main_Color Main_Metal  Main_Gem
0                NaN     yellow       gold       NaN
1                  f      white       gold  sapphire
2                  f        red       gold   diamond
3                NaN        red       gold  amethyst
4                NaN        red       gold       NaN
...              ...        ...        ...       ...
95905            NaN        NaN        NaN       NaN
95906            NaN        red       gold       NaN
95907              f      white       gold   diamond
95908            NaN      white       gold    fianit
95909            NaN        red       gold       NaN

[95910 rows x 12 columns]>

           Order_ID    Product_ID   Category_ID      Brand_ID     Price_USD  \
count  9.591000e+04  9.591000e+04  9.055800e+04  9.112500e+04  90558.000000
mean   2.485191e+18  1.815970e+18  1.805947e+18  8.891036e+16    362.213017
std    1.934750e+17  2.136814e+17  2.083954e+16  3.559651e+17    444.157665
min    1.924899e+18  1.313551e+18  1.313678e+18  0.000000e+00      0.990000
25%    2.379732e+18  1.515966e+18  1.806829e+18  0.000000e+00    145.620000
50%    2.524282e+18  1.956664e+18  1.806829e+18  1.000000e+00    258.770000
75%    2.644347e+18  1.956664e+18  1.806829e+18  1.000000e+00    431.370000
max    2.719022e+18  2.541962e+18  1.806829e+18  1.550613e+18  34448.600000

            User_ID
count  9.055800e+04
mean   1.512644e+18
std    2.374776e+16
min    1.313554e+18
25%    1.515916e+18
50%    1.515916e+18
75%    1.515916e+18
max    1.554297e+18

Con estas simple obersvacion vemos como el precio medio de los productos
es de 258,77$ y el minimo es de 0.99 $

Buscamos valores nulos:

Order_Datetime        0
Order_ID              0
Product_ID            0
Category_ID        5352
Category_Alias     9933
Brand_ID           4785
Price_USD          5352
User_ID            5352
Product_Gender    48167
Main_Color         7660
Main_Metal         5462
Main_Gem          34058
dtype: int64

Observo que hay un numero de nulos no muy relevante en las columnas Category_Id y Category_alias.

Procedemos a eliminarlos, ya que no afectaran a la estadistica descriptiva.

Comprobamos
Order_Datetime        0
Order_ID              0
Product_ID            0
Category_ID           0
Category_Alias        0
Brand_ID              0
Price_USD             0
User_ID               0
Product_Gender    34757
Main_Color         1995
Main_Metal            0
Main_Gem          18406
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 77062 entries, 1 to 95909
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_Datetime  77062 non-null  object
 1   Order_ID        77062 non-null  int64
 2   Product_ID      77062 non-null  int64
 3   Category_ID     77062 non-null  float64
 4   Category_Alias  77062 non-null  object
 5   Brand_ID        77062 non-null  float64
 6   Price_USD       77062 non-null  float64
 7   User_ID         77062 non-null  float64
 8   Product_Gender  42305 non-null  object
 9   Main_Color      75067 non-null  object
 10  Main_Metal      77062 non-null  object
 11  Main_Gem        58656 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 7.6+ MB
None
            Order_Datetime             Order_ID           Product_ID  \
1  2018-12-02 13:53:42 UTC  1925511016616034733  1842214461889315556
2  2018-12-02 17:44:02 UTC  1925626951238681511  1835566849434059453
3  2018-12-02 21:30:19 UTC  1925740842841014667  1873936840742928865
4  2018-12-02 22:09:34 UTC  1925760595336888995  1835566854827934449
5  2018-12-02 22:09:34 UTC  1925760595336888995  1600021442638905547

    Category_ID    Category_Alias  Brand_ID  Price_USD       User_ID  \
1  1.806829e+18   jewelry.pendant       1.0      54.66  1.515916e+18
2  1.806829e+18   jewelry.pendant       0.0      88.90  1.515916e+18
3  1.806829e+18  jewelry.necklace       0.0     417.67  1.515916e+18
4  1.806829e+18   jewelry.earring       1.0     102.27  1.515916e+18
5  1.806829e+18   jewelry.earring       0.0     150.55  1.515916e+18

  Product_Gender Main_Color Main_Metal  Main_Gem
1              f      white       gold  sapphire
2              f        red       gold   diamond
3            NaN        red       gold  amethyst
4            NaN        red       gold       NaN
5            NaN        red       gold   diamond

Realizamos graficas para ver los datos mas claramente con el nuevo dataframe

In [6]:
x = 2

In [7]:
x

2

In [8]:
saludo = "Hola mundo"

In [13]:
def superSaludo():
    print("La primera linea a ejecutar siempre es:", saludo)

In [16]:
superSaludo()

La primera linea a ejecutar siempre es: Hola mundo